.emotion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  top: 56px;
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 38, 38);
}

.main-header {
  position: relative;
  top: 120px;
  font-size: 48px;
  font-weight: 700;
}

.emotion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  top: 72px;
  width: 80%;
  height: 75%;
}

.emotion-index-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.emotion-index-item-container:hover {
  filter: brightness(90%);
}


.far:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.fa-smile {
  background: -webkit-linear-gradient(#fce747, #c67928);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 124px;
  margin-bottom: 12px;
}

.fa-sad-tear {
  background: -webkit-linear-gradient(#0098d0, #2042c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 124px;
  margin-bottom: 12px;
}

.fa-angry {
  background: -webkit-linear-gradient(#8f0f0f, #b56107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 124px;
  margin-bottom: 12px;
}

.fa-flushed {
  background: -webkit-linear-gradient(#02ac2c, #036116);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 124px;
  margin-bottom: 12px;
}

.fa-laugh-beam {
  background: -webkit-linear-gradient(#7639d8c5, #a089c596);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 124px;
  margin-bottom: 12px;
}

.emotion-index-item-image img {
  width: 100%;
}
