.media-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  width: 280px;
  margin-bottom: 56px;
}

.media-item-preview:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.media-item-preview {
  width: 280px;
  height: 158px;
  border-radius: 8px;
  /* background-color: green; */
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}
.media-item-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-item-title {
  font-weight: 400;
}

.media-item-title {
  cursor: default;
}

