/* .emotion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 56px;
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 38, 38);
}

.main-header {
  position: relative;
  top: 120px;
  font-size: 48px;
  font-weight: 700;
} */

/* .emotion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  top: 72px;
  width: 75%;
  height: 75%;
} */

.media-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-item-container:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.media-item-preview {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background-color: green;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.media-item-preview img {
  width: 100%;
}

