.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  position: fixed;
  background-color: rgb(32, 32, 32);
  z-index: 1;
}

.nav-logo span {
  margin-left: -16px;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.nav-container div {
  padding: 16px;
}

.nav-logout button {
  margin-left: 16px;
  background-color: rgb(226, 226, 226);
  color: black;
}