.app {
  width: 100%;
  height: 100%;
}

.logo-small {
  width: 36px;
  height: auto;
}

.logo {
  width: 56px;
  height: auto;
}

.input {
  outline: none;
  border: 2px solid transparent;
  padding: 6px 16px;
  border-radius: 24px;
  font-size: 14px;
}

.input:hover, 
.input:focus {
  border: 2px solid rgb(167, 167, 167)
}

button,
a {
  padding: 8px 16px;
  border-radius: 24px;
  outline: none;
  border: 0;
  font-size: 14px;
  font-weight: 700;
}

button:hover,
a:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.error {
  display: block;
  color: red;
  font-size: 12px;
  font-weight: 500;
}

body {
  background-color: rgb(38, 38, 38);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.fa-heart {
  font-size: 24px;
  color: rgb(85, 85, 85);
}

.fa-heart:hover {
  background: -webkit-linear-gradient(#c9165a, #550e0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(100%);
}

.red {
  background: -webkit-linear-gradient(#c9165a, #550e0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(100%);
}
